/*Form.jsp*/
.wrapper {
	position: relative;
    top: 66px;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.container-input {
    margin-bottom: 16px;
}

.form-container{
	background-color: white;
	height: 80%;
	width: 65%;
  	order: 0;
  	flex: 0 1 auto;
  	align-self: auto;
	//margin: 4% 0;
	border: 2px solid;
    border-radius: 25px;
}

.input-sex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
body {
    background-color: powderblue;
}

.form-signin {
  max-width: 65%;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.error {
	color:red;
}


/*ShowDatabase.jsp*/
/* body { */
/* 	display: flex; */
/*     flex-direction: column; */
/*     align-items: center; */
/* } */

    
